body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Header.css */
/* Header.css */
header {
  background-color: #3498db;
  padding: 20px;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 80px;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 100px; /* Ajusta el tamaño máximo de los logos según tus necesidades */
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 32px; /* Ajusta el tamaño de fuente del título en dispositivos móviles */
    margin: 10px 0; /* Espaciado entre el título y los logos en dispositivos móviles */
  }

  .logo {
display: none; /* Oculta los logos en dispositivos móviles */
  }
}

h1,
p {
  margin: 0;
  /* Elimina el margen predeterminado que agrega espacio alrededor del texto */
}


nav {
  background-color: #0F2167;
  /* Color de fondo inicial */
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 120px;
  z-index: 1000;
  transition: background-color 1s ease;
  /* Agrega una transición suave para el cambio de color */
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}


nav a:hover {
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}


nav a {
  color: #fff;
  /* Color blanco para el texto */
  text-decoration: none;
  /* Sin subrayado */
  padding: 10px;
  margin: 0 10px;
}

/* Agrega estos estilos para el menú móvil */
@media (min-width: 769px) {
  .mobile-menu-toggle {
    display: none;
  }

  .nav-links {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0F2167;
    z-index: 1000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;}

  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .mobile-menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1100;
    cursor: pointer;
    font-size: 24px;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #0F2167;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease-in-out, visibility 0.3s, opacity 0.3s;
    z-index: 1000;
  }

  .nav-links.open {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 0;
  }
}




#section1 {
  margin-top: 110px;
  /* Ajusta el margen superior para dar espacio al encabezado y la barra de navegación */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #072541;
  position: relative;
  border-bottom: 2px solid #fff;
  max-width: 90%;
  margin: 200px auto 50px;
  /* Añadido margen inferior para separar del siguiente section */
}




section {
  margin-top: 120px;
  /* Ajusta el margen superior para dar espacio al encabezado y la barra de navegación */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #072541;
  position: relative;
  border-bottom: 2px solid #fff;
  max-width: 90%;
  margin: 50px auto;
  font-family: 'Kanit', sans-serif;
}


.parallax {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.parallax img {
  width: 50%;
  height: auto;
  float: right;
}

.content {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.read-more {
  margin-top: 40px;
  text-align: center;


}

.read-more a {
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

/* En tu archivo style.css */
.parallax1 {
  background-image: url('./images/section1.jpg');
}

.parallax2 {
  background-image: url('./images/section1.jpg');
}

.parallax3 {
  background-image: url('./images/section1.jpg');
}

.parallax4 {
  background-image: url('./images/section1.jpg');
}

.parallax5 {
  background-image: url('./images/section1.jpg');
}


.footer {
  background-color: #333;
  padding: 8px;
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: -100px; /* Ajusta este valor según sea necesario */
  width: 100%;
  transition: bottom 0.3s ease-in-out;
}

.footer.visible {
  bottom: 0;
}

/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  section {
    max-width: 100%;
    /* Ancho completo en pantallas pequeñas */
  }
}

#spaceshipContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 9999;
}

#spaceship {
  width: 50px;
  /* Ajusta el tamaño de la nave según sea necesario */
  height: auto;
  animation: flyUpAnimation 8s linear infinite;
  /* Ajusta la duración de la animación a 8 segundos */
}

#spaceship.paused {
  animation-play-state: paused;
}

@keyframes flyUpAnimation {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(-730px);
    /* Ajusta la altura final del vuelo según sea necesario */
  }
}

/* Agrega estos estilos al final de tu sección <style> */

/* Estilos para pantallas grandes */
header {
  background-color: #3498db;
  padding: 20px;
  text-align: center;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1{
  color: #fff;
}

.logo {
  width: 150px;
  /* Ajusta el tamaño del logo según sea necesario */
  height: auto;
  margin: 0px 50px;
  /* Ajusta el margen de los logos según sea necesario */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

header {
  animation: slideIn 1s ease-out;
  /* Ajusta la duración y la función de temporización de la animación */
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    margin: 10px 0;
    /* Ajusta el margen de los logos cuando se centran */
  }
}

#author-message {
  text-align: center;
  padding: 50px 0;
  /* Ajusta según sea necesario */
  background-color: #f0f0f0;
  /* Fondo del mensaje del autor */
}

.author-message-content {
  max-width: 800px;
  margin: 0 auto;
  /* Centra el contenido horizontalmente */
}

.author-message-content img {
  width: 200px;
  /* Ajusta el tamaño de la foto según sea necesario */
  height: 200px;
  border-radius: 50%;
  /* Da un borde redondeado a la foto del autor */
  margin-bottom: 20px;
  /* Espacio entre la foto y el párrafo */
}

/*todos los textos*/
.txt_container {
  margin-top: 200px; /* Ajusta la cantidad de margen según sea necesario */
  font-family: 'Kanit', sans-serif;
  color: #072541;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.2); /* Fondo con opacidad */


  max-width: 800px;
  margin: 200px auto; /* Ajusta la posición verticalmente y centra horizontalmente */
  padding: 20px; /* Agrega un espacio interno al contenedor */
  font-family: 'Kanit', sans-serif;
  text-align: justify;

}
.txt_container h1{
  margin-top: 20px;
  color: #072541;
}

.txt_container p {
  max-width: 800px; /* Ajusta el ancho máximo del texto según sea necesario */
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px; /* Ajusta la distancia entre párrafos */

}



.wallpaper-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.wallpaper-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Testimonio.css */
.testimonio-card {
  display: flex;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  max-width: 800px;
  background: rgba(1, 86, 119, 0.1); /* Fondo con opacidad */
  animation: floatAnimation 4s infinite ease-in-out;
  margin-top: 20px;
  margin-bottom: 40px;
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.testimonio-content {
  flex: 1;
}

.testimonio-imagen {
  margin-left: 20px;
}

/* Clase específica para la imagen */
.imagen-testimonio {
  width: 120px; 
  height: 120px; 
}

.nombre-persona {
  font-weight: bold;
  margin-top: 10px;
}


/* CardServicios.css */
.card-servicios {
  display: flex;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  max-width: 800px;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card-contenido {
  flex: 1;
}

.card-imagen {
  overflow: hidden;
  width: 0;
  transition: width 0.3s ease-in-out;
  margin-left: 10px;
}

.card-imagen img {
  width: 400px;
  height: 300px;
}

.card-servicios:hover {
  background: rgba(1, 86, 119, 0.2); /* Fondo con opacidad */
}

.card-servicios:hover .card-imagen {
  width: 50%;
}

/* CardCurso.css */
.card-curso {
  display: flex;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  max-width: 800px;
  min-width: 780px;
  background: rgba(249, 250, 250, .9); /* Fondo con opacidad */
  transition: transform 0.3s ease-in-out; /* Agrega una transición al cambio de escala */
  min-height: 100px; /* Ajusta la altura mínima según sea necesario */
  margin-top: 10px;
  margin-bottom: 40px;
}

.card-curso:hover {
  transform: scale(1.05); /* Escala del elemento al pasar el ratón sobre él */
  border-color: #3498db;
}

.portada-curso {
  width: 200px;
  height: 120px;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out; /* Agrega una transición al cambio de escala */
}

.card-curso:hover .portada-curso {
  transform: scale(1.2); /* Escala del contenedor de la portada al pasar el ratón sobre el curso */
 
}

.imagen-curso {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-curso {
  margin-left: 30px;
}

.info-curso h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Alianzas.css */
.alianzas-container {
  background: rgba(249, 250, 250, 0.4);
  color: #072541;
  max-width: 800px;
  margin: 200px auto; /* Ajusta la posición verticalmente y centra horizontalmente */
  padding: 20px; /* Agrega un espacio interno al contenedor */
  font-family: 'Kanit', sans-serif;
  text-align: justify;
  animation: floatAnimation 4s infinite ease-in-out;
}

.imagen-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.imagen-section img {
  width: 200px; /* Establece el tamaño deseado */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out; /* Agrega una transición al cambio de escala */
}

.imagen-section img:hover {
  transform: scale(1.2); /* Agranda la imagen al pasar el mouse sobre ella */
}


.alianzas-container p{
margin-top: 20px;
font-size: 18px;
}

.alianzas-container h1{
  margin-top: 20px;
  text-align: center;
  color: #072541;
}

/* CardMarket.css */
.market-container{
margin-top: 200px;
background: rgba(249, 250, 250, 0.4);
color: #072541;
max-width: 800px;
margin: 200px auto; /* Ajusta la posición verticalmente y centra horizontalmente */
padding: 20px; /* Agrega un espacio interno al contenedor */
font-family: 'Kanit', sans-serif;
text-align: justify;

}
.market-container h1{
  text-align: center;
  color: #072541;
}

/* Añade estos estilos a tu archivo style.css */

.card-market {
  display: flex;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  max-width: 800px;
  background: rgba(249, 250, 250, 0.4);
  transition: transform 0.3s ease-in-out; /* Agrega una transición al cambio de escala */

}

.card-market:hover {
  transform: scale(1.1); /* Ajusta la escala según tus preferencias */
  border-color: #3498db;
  background: rgba(255, 255, 255, 0.8);


}

.card-left {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.logo-container {
  flex: 1;
}

.logo-market {
  width: 200px; /* Ajusta según sea necesario */
  border: 1px solid #ccc;
  border-radius: 8px;
}

.info-market {
  flex: 2;
}

.card-right {
  display: flex;
  flex-direction: column;
}

.contacto-container{
  margin-top: 200px;
  background: rgba(249, 250, 250, 0.4);
  color: #072541;
  max-width: 400px;
  margin: 200px auto; /* Ajusta la posición verticalmente y centra horizontalmente */
  padding: 10px; /* Agrega un espacio interno al contenedor */
  font-family: 'Kanit', sans-serif;
  text-align: justify;
  animation: floatAnimation 4s infinite ease-in-out;
}

.contacto-container:hover {
  background: rgba(255, 255, 255, 0.8);
}

.contacto-container h1{
  text-align: center;
  margin-bottom: 10px;
  color: #072541;
}

.mensaje-textarea {
height: 100px;

}
form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 0px;
}

input,
textarea {
  width: 100%;
  padding: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Clases específicas */
.nombre-apellido {
  display: flex;
  justify-content: space-between;
}

.nombre-container,
.apellido-container {
  width: 45%; /* Ajusta el ancho según tus preferencias */
}

/* HistoriaExito.css */
.historia-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.parrafo-con-foto {
  margin-bottom: 30px;
}

.imagen-historia {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  color: #333; /* Cambia el color del título según tus preferencias */
}

p {
  font-size: 16px;
  line-height: 1.5;
}

p strong {
  font-weight: bold;
  color: #EA1179; /* Color de resaltado */
}

/*Historia*/
.historia-container {
  background: rgba(249, 250, 250, 0.4);
  color: #072541;
  max-width: 800px;
  margin: 200px auto; /* Ajusta la posición verticalmente y centra horizontalmente */
  padding: 20px; /* Agrega un espacio interno al contenedor */
  font-family: 'Kanit', sans-serif;
  text-align: justify;
  animation: floatAnimation 4s infinite ease-in-out;
}

.imagen-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.imagen-section img {
  width: 200px; /* Establece el tamaño deseado */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out; /* Agrega una transición al cambio de escala */
}

.imagen-section img:hover {
  transform: scale(1.2); /* Agranda la imagen al pasar el mouse sobre ella */
}


.historia-container p{
margin-top: 20px;
font-size: 18px;
}

.historia-container h1{
  margin-top: 20px;
  text-align: center;
  color: #072541;

}


/* style.css */
body, html {
  height: 100%;
  margin: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* style.css */
.cardContainer {
  width: 800px;
  height: 480px;
  margin: 200px auto 5px; /* Ajusta el valor superior según tus necesidades */
  border-radius: 8px;
  overflow: hidden;
  background: rgba(249, 250, 250, 0.4);
}



.paginaPDF {
  text-align: center;
  color: #072541;
}


.paginaPDF canvas {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  max-height: 400px; /* Ajusta según tus necesidades */
}


.paginaPDF p {
  margin: 10px 0;
}

.paginaPDF button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.header {
  z-index: 2;
}

.nav {
  z-index: 2;
}
